.header {
  color: var(--slate);
  padding: 1.5em;
  position: relative;
  transition: filter 0.3s;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.logo {
  max-width: 15%;
}

.banner {
  position: relative;
  z-index: -100;
}
