.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 20px 60px;
  margin: 20px 0 0;
  padding-left: 0;
  overflow: hidden;
  list-style: none;
  color: var(--green);
  font-family: var(--font-mono);
}

.list__item {
  position: relative;
  left: 20px;
  display: flex;
  align-items: center;
  color: var(--slate);
  font-size: 0.8rem;
}

.list__item::before {
  content: '▹';
  position: absolute;
  left: -20px;
  color: var(--green);
  font-size: var(--fz-sm);
  line-height: 12px;
}
