.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: transparent;
}

.toggle__bar {
  position: relative;
  width: 40%;
  height: 2px;
  background-color: #fff;
  z-index: -1;
}

.toggle__bar::before,
.toggle__bar::after {
  content: '';
  position: absolute;
  right: 0;
  width: 110%;
  height: 2px;
  background-color: inherit;
  transition: transform 0.3s;
}

.toggle__bar::before {
  transform: translateY(-10px);
}

.toggle__bar::after {
  transform: translateY(10px);
  width: 80%;
}

.toggle--show .toggle__bar {
  animation: toggle-parent 0.5s ease-in forwards;
}

.toggle--show .toggle__bar::after {
  animation: toggle-after 0.5s ease-in forwards;
}

.toggle--show .toggle__bar::before {
  animation: toggle-before 0.5s ease-in forwards;
}

.toggle--close .toggle__bar {
  animation: toggle-parent 0.5s ease-in forwards reverse;
}

.toggle--close .toggle__bar::after {
  animation: toggle-after 0.5s ease-in forwards reverse;
}

.toggle--close .toggle__bar::before {
  animation: toggle-before 0.5s ease-in forwards reverse;
}

@keyframes toggle-parent {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes toggle-after {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes toggle-before {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }

  100% {
    transform: translate(1px, 1px) rotate(-90deg);
  }
}
