doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/styles.css")
    title Potfolio
  body
    nav#main-nav.main-nav 
      ul.main-menu
        li.main-menu__item
          a(href="#" data-number="01.").main-menu__link About
        li.main-menu__item
          a(href="#" data-number="02.").main-menu__link Experience
        li.main-menu__item
          a(href="#" data-number="03.").main-menu__link Work
        li.main-menu__item
          a(href="#" data-number="04.").main-menu__link Contact
    .top-bar
      img(src="assets/images/logo.png" alt="logo").logo
      #toggle-menu.toggle
        #toggle-bar.toggle__bar
    header#header.header
      .banner
        p.text-green Hi, my name is
        h1.text-lightest DorianDesings
        p.big-heading I build things for the web
        p.text I'm a software engineer specializing in building (and occasionally designing) exceptional digital experiences. Currently, I'm focused on building accessible, human-centered products at
    main#main
      .title-container 
        h2(data-number="01.").title About me
      article.article
        p.text Hello! My name is Dorian and I enjoy creating things that live on the internet. My interest in web development started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!
        ul.list 
          li.list__item JavaScript (ES6+)
          li.list__item React
          li.list__item Eleventy
          li.list__item Vue
          li.list__item Node.js
          li.list__item WordPress
        section
          .title-container 
            h2(data-number="02.").title Works
        section.cards
          article.card
            header.card__header
              .card__icon
                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><title>Folder</title><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
              a(href="#").card__link
                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>External Link</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
            .card__body
              h3.card__title Integrating Algolia Search with WordPress Multisite
              p.card__text Building a custom multisite compatible WordPress plugin to build global search with Algolia
            footer.card__footer
              ul.tags
                li.tags__item React
                li.tags__item Node.js
                li.tags__item Node.Express
                li.tags__item Spotify Api
          article.card
            header.card__header
              .card__icon
                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><title>Folder</title><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
              a(href="#").card__link
                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>External Link</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
            .card__body
              h3.card__title Integrating Algolia Search with WordPress Multisite
              p.card__text Building a custom multisite compatible WordPress plugin to build global search with Algolia
            footer.card__footer
              ul.tags
                li.tags__item React
                li.tags__item Node.js
                li.tags__item Node.Express
                li.tags__item Spotify Api
          article.card
            header.card__header
              .card__icon
                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder"><title>Folder</title><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg>
              a(href="#").card__link
                <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><title>External Link</title><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
            .card__body
              h3.card__title Integrating Algolia Search with WordPress Multisite
              p.card__text Building a custom multisite compatible WordPress plugin to build global search with Algolia
            footer.card__footer
              ul.tags
                li.tags__item React
                li.tags__item Node.js
                li.tags__item Node.Express
                li.tags__item Spotify Api

    script(src="js/scripts-min.js")